.name {
   color: blueviolet;
}

.inf {
   color: aqua;
}

.Достижения {
   color: brown;
}

.Детство {
   color: rgb(111, 78, 85);
}

.gfff {
   color: blueviolet;
}

.fggg {
   color: chocolate;
}